<!DOCTYPE html>
<html>
    <head>
    <style>

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

#dawArea {
    width: {{ 320 * bars }}px;
    height: 600px;
    background-color: rgba(157, 157, 157, 0.4);
    /* border-radius: 10px;  */
}

.note {
    position: relative;
    height: 28px;
    /* background-color: rgb(167, 40, 40); */
    border: 1px solid white;
    opacity: 0.8;
    text-align: center;
}

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

CHORD_COLORARRAY = [0, 0, 255];
MELODY_COLORARRAY = [167, 40, 40];
ARPEGGIO_COLORARRAY = [0, 127, 60];

function vn(val) {
    let conv = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];
    append = (4 + Math.floor(val / 7));
    note = val % 7;
    if (note < 0) { note += 7; }
    return "" + conv[note] + "" + append;
}

let leftOffset = 0;
let notes = 0;

function writeNote(noteVal, length, colorArray, className) {
    // Create a new div element
    const noteDiv = document.createElement('div');
    // Set the class to "note"
    noteDiv.className = 'note';
    noteDiv.classList.add(className);
    // Set the style properties
    noteDiv.style.left = leftOffset + 'px';
    noteDiv.style.top = (300 - 30 * noteVal - 30 * notes - {{ bars }}*4*20*30) + 'px';
    noteDiv.style.width = (80 * length - 2) + 'px';
    noteDiv.style.backgroundColor = 'rgb(' + colorArray[0] + ', ' + colorArray[1] + ', ' + colorArray[2] + ')';
    noteDiv.textContent = vn(noteVal);
    
    // Append the new note to the dawArea
    document.getElementById('dawArea').appendChild(noteDiv);
    
    // Increment the leftOffset for the next note
    leftOffset += 80 * length;
    notes++;
}

function writeChord(chord, length, colorArray) {
    writeNote(chord - 6, length, colorArray, 'chord');
    leftOffset -= 80 * length;
    writeNote(chord - 4, length, colorArray, 'chord');
    leftOffset -= 80 * length;
    writeNote(chord - 2, length, colorArray, 'chord');
}

function writeChords(chords, colorArray) {
    leftOffset = 0;
    for (let i = 0; i < chords.length; i++) {
        writeChord(chords[i], 4, colorArray);
    }
}

function writeVoiceLine(melody, colorArray, className) {
    leftOffset = 0;
    for (let i = 0; i < melody.length; i++) {
        writeNote(melody[i][0], melody[i][1], colorArray, className);
    }
}

function destroyTrack(className) {
    let paras = document.getElementsByClassName(className);
    while (paras.length > 0) {
        paras[0].parentNode.removeChild(paras[0]);
        notes--;
    }
}

// Example usage: Adds three notes to the dawArea
window.onload = function() {

{% for i in range(bars * 4) %}
{% for j in range(20) %}
    const noteDiv{{i}}_{{j}} = document.createElement('div');
    noteDiv{{i}}_{{j}}.className = 'note';
    noteDiv{{i}}_{{j}}.style.left = (80 * {{ i }}) + 'px';
    noteDiv{{i}}_{{j}}.style.top = (30 * {{ -20 * i }}) + 'px';
    noteDiv{{i}}_{{j}}.style.width = '78px';
    noteDiv{{i}}_{{j}}.style.borderColor = 'black';
    document.getElementById('dawArea').appendChild(noteDiv{{i}}_{{j}});
{% endfor %}
{% endfor %}

{% for chord in chords %}
    writeChord({{ chord }}, 4, CHORD_COLORARRAY);
{% endfor %}

leftOffset = 0;
writeVoiceLine({{ arpeggio }}, ARPEGGIO_COLORARRAY, 'arpeggio');

leftOffset = 0;
writeVoiceLine({{ melody }}, MELODY_COLORARRAY, 'melody');

/*
{% for i in range(len) %}
    writeNote({{ melody[i][0] }}, {{ melody[i][1] }}, MELODY_COLORARRAY);
{% endfor %}
*/
/*
leftOffset = 0;
{% for i in range(0*bars * 8) %}
    writeNote({{ arpeggio[i] }}, 0.5, ARPEGGIO_COLORARRAY, "arpeggio");
{% endfor %}*/
    //writeNote(1, 80); // Note at position 10 with length 50
    //writeNote(7, 30); // Note at position 15 with length 30
    //writeNote(1, 70);  // Note at position 5 with length 70
}

    </script>
    </head>
    <body>
        <h1>Key = {{ key }} and Bars = {{ bars }}</h1>
        <!--<p>Chords = {{ chords }}</p>
        <p>Melody = {{ melody }}</p>-->
    </body>
    <div id="dawArea">
    </div>
    <button id="melody-regenerate">Regenerate Melody</button>
    <button id="chords-regenerate">Regenerate Chords (will regenerate everything)</button>
    <p id="response">Generated once</p>

    <script>
        $(document).ready(function(){
            $("#melody-regenerate").click(function(){
                $.ajax({
                    url: '/regenerate/{"spec": "change-melody", "chords": {{ chords }}, "rhythm": {{ rhythm }}}', // URL to send the request to
                    type: "GET",      // HTTP method to use for the request
                    success: function(response) {
                        $("#response").text(response);
                        destroyTrack('melody');
                        writeVoiceLine(JSON.parse(response).melody, MELODY_COLORARRAY, 'melody');
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });
            $("#chords-regenerate").click(function(){
                $.ajax({
                    url: '/regenerate/{"spec": "change-chords"}', // URL to send the request to
                    type: "GET",      // HTTP method to use for the request
                    success: function(response) {
                        $("#response").text(response);
                        destroyTrack('melody');
                        destroyTrack('arpeggio');
                        destroyTrack('chord')
                        responseJSON = JSON.parse(response);
                        writeChords(responseJSON.chords, CHORD_COLORARRAY);
                        writeVoiceLine(responseJSON.arpeggio, ARPEGGIO_COLORARRAY, 'arpeggio');
                        writeVoiceLine(responseJSON.melody, MELODY_COLORARRAY, 'melody');
                    },
                    error: function(error) {
                        // On error, log the error to the console
                        console.log("Error:", error);
                    }
                });
            })
        });
    </script>
</html>